In [43]:
import numpy as np
import pandas as pd
import xgboost as xgb
from datetime import datetime,timedelta
from numpy.matlib import repmat
def mape_nparray(y,d):
    c=d
    rec=np.sum(np.abs(y-c)/c)/len(c)
    return rec

def mape(y,d):
    c=d.get_label()
    result=np.sum(np.abs(y-c)/c)/len(c)
    return "mape",result

In [44]:
tmptime=datetime(2016,7,19)
timeseries=[]
while(tmptime<datetime(2016,11,1)):
    timeseries=timeseries+[str(tmptime)]
    tmptime=tmptime+timedelta(minutes=20)
    
idframe=pd.DataFrame({"intersection_id":["A","A","B","B","C","C"],
              "tollgate_id":[2,3,1,3,1,3],
             })
idframe["hhh"]=1
timeframe=pd.DataFrame(timeseries)
timeframe["hhh"]=1
twframe=pd.merge(idframe,timeframe,how="outer")
twframe=twframe.iloc[:,[0,1,3]]
twframe.rename(columns={0:'datetime'}, inplace = True)
twframe["datetime"]=pd.to_datetime(twframe["datetime"])

In [45]:
def data_avg(train):
    q=train.groupby(["month","date","hour","minute","intersection_id","tollgate_id"])["travel_time"].mean()
    p=train.drop(["travel_time","datetime","starting_time"],axis=1).drop_duplicates().sort(columns=["month","date","hour","minute","intersection_id","tollgate_id"])
    p["travel_time"]=q.values
    cols=list(p)
    cols.insert(2, cols.pop(cols.index('travel_time')))
    p= p.ix[:, cols]
    return p

In [46]:
def select_val_knn(data):
    select_time2=((data["hour"]<10)&(data["hour"]>7))|((data["hour"]<19)&(data["hour"]>16))
    select_time1=((data["hour"]<8)&(data["hour"]>5))|((data["hour"]<17)&(data["hour"]>14))
    
    t1=(data["month"]==10)&(data["date"]==25)&select_time2
    t2=(data["month"]==10)&(data["date"]==26)&select_time2
    t3=(data["month"]==10)&(data["date"]==27)&select_time2
    t4=(data["month"]==10)&(data["date"]==28)&select_time2
    t5=(data["month"]==10)&(data["date"]==29)&select_time2
    t6=(data["month"]==10)&(data["date"]==30)&select_time2
    t7=(data["month"]==10)&(data["date"]==31)&select_time2
    
    e1=(data["month"]==10)&(data["date"]==25)&select_time1
    e2=(data["month"]==10)&(data["date"]==26)&select_time1
    e3=(data["month"]==10)&(data["date"]==27)&select_time1
    e4=(data["month"]==10)&(data["date"]==28)&select_time1
    e5=(data["month"]==10)&(data["date"]==29)&select_time1
    e6=(data["month"]==10)&(data["date"]==30)&select_time1
    e7=(data["month"]==10)&(data["date"]==31)&select_time1
    
    dt1=data[t1].copy()
    dt2=data[t2].copy()
    dt3=data[t3].copy()
    dt4=data[t4].copy()
    dt5=data[t5].copy()
    dt6=data[t6].copy()
    dt7=data[t7].copy()
    
    
    de1=data[e1].copy()
    de2=data[e2].copy()
    de3=data[e3].copy()
    de4=data[e4].copy()
    de5=data[e5].copy()
    de6=data[e6].copy()
    de7=data[e7].copy()


    
    dtrain=data[(data["month"]*31+data["date"])<335].copy()
    dpred=pd.concat([dt1,dt2,dt3,dt4,dt5,dt6,dt7])
    dtest=pd.concat([de1,de2,de3,de4,de5,de6,de7])
    return dtrain,dtest,dpred,data

In [47]:
def select_val(data):
    select_time2=((data["hour"]<10)&(data["hour"]>7))|((data["hour"]<19)&(data["hour"]>16))
    select_time1=((data["hour"]<8)&(data["hour"]>5))|((data["hour"]<17)&(data["hour"]>14))
    
    t1=(data["month"]==10)&(data["date"]==11)&select_time2
    t2=(data["month"]==10)&(data["date"]==12)&select_time2
    t3=(data["month"]==10)&(data["date"]==13)&select_time2
    t4=(data["month"]==10)&(data["date"]==14)&select_time2
    t5=(data["month"]==10)&(data["date"]==15)&select_time2
    t6=(data["month"]==10)&(data["date"]==16)&select_time2
    t7=(data["month"]==10)&(data["date"]==17)&select_time2
    
    e1=(data["month"]==10)&(data["date"]==11)&select_time1
    e2=(data["month"]==10)&(data["date"]==12)&select_time1
    e3=(data["month"]==10)&(data["date"]==13)&select_time1
    e4=(data["month"]==10)&(data["date"]==14)&select_time1
    e5=(data["month"]==10)&(data["date"]==15)&select_time1
    e6=(data["month"]==10)&(data["date"]==16)&select_time1
    e7=(data["month"]==10)&(data["date"]==17)&select_time1
    
    dt1=data[t1].copy()
    dt2=data[t2].copy()
    dt3=data[t3].copy()
    dt4=data[t4].copy()
    dt5=data[t5].copy()
    dt6=data[t6].copy()
    dt7=data[t7].copy()
    
    
    de1=data[e1].copy()
    de2=data[e2].copy()
    de3=data[e3].copy()
    de4=data[e4].copy()
    de5=data[e5].copy()
    de6=data[e6].copy()
    de7=data[e7].copy()


    
    dtrain=data[(data["month"]*31+data["date"])<321].copy()
    dpred=pd.concat([dt1,dt2,dt3,dt4,dt5,dt6,dt7])
    dtest=pd.concat([de1,de2,de3,de4,de5,de6,de7])
    return dtrain,dtest,dpred,data

In [48]:
def data_to_TrainAndVal(data,datao):
      
    data_starting_time=data["starting_time"].str.split(' ',expand=True)
    data_starting_time_date=data_starting_time[0].str.split('-',expand=True)
    data_starting_time_time=data_starting_time[1].str.split(':',expand=True)
    data["month"]=data_starting_time_date[1].apply(int)
    data["date"]=data_starting_time_date[2].apply(int)
    data["hour"]=data_starting_time_time[0].apply(int)
    data["minute"]=data_starting_time_time[1].apply(int)
    data["minute"]=(data["minute"]/20).apply(int)*20
    data["number_intersection_id"]=data["intersection_id"].replace(["A","B","C"],[1,2,3])
    data_std=datao.groupby(["intersection_id","tollgate_id","hour"])["travel_time"].std().reset_index().rename(columns={"travel_time":"travel_time_std"})
    data_mean=datao.groupby(["intersection_id","tollgate_id","hour"])["travel_time"].mean().reset_index().rename(columns={"travel_time":"travel_time_mean"})
    data=pd.merge(data,data_std,on=["intersection_id","tollgate_id","hour"])
    data=pd.merge(data,data_mean,on=["intersection_id","tollgate_id","hour"])
    
    data["holiday_before1"]=1*(((data["month"]==9)&(data["date"]==14))\
                            |((data["month"]==9)&(data["date"]==30)))
    data["holiday_before2"]=1*(((data["month"]==9)&(data["date"]==15))\
                            |((data["month"]==10)&(data["date"]==1)))
    data["holiday_after1"]=1*(((data["month"]==9)&(data["date"]==17))\
                            |((data["month"]==10)&(data["date"]==7)))
    data["holiday_after2"]=1*(((data["month"]==9)&(data["date"]==18))\
                            |((data["month"]==10)&(data["date"]==8)))
    data["holiday1"]=1*((data["month"]==9)&(data["date"]>15)&(data["date"]<19))
    data["holiday2"]=1*((data["month"]==10)&(data["date"]>0)&(data["date"]<8))
    data["workholiday"]=1*(((data["month"]==9)&(data["date"]==19))\
                        |((data["month"]==10)&(data["date"]==9))\
                        |((data["month"]==10)&(data["date"]==10)))
    data["holiday"]=data["holiday1"]+data["holiday2"]
   
    
    data["datetime"]=pd.to_datetime(data["starting_time"])
    data["weekday"]=data["datetime"].dt.weekday
    
    #one_hot A,B,C
    data["ifA"]=data["intersection_id"].replace(["A","B","C"],[1,0,0])
    data["ifB"]=data["intersection_id"].replace(["A","B","C"],[0,1,0])
    data["ifC"]=data["intersection_id"].replace(["A","B","C"],[0,0,1])

    #one_hot 1,2,3
    data["if1"]=data["tollgate_id"].replace([1,2,3],[1,0,0])
    data["if2"]=data["tollgate_id"].replace([1,2,3],[0,1,0])
    data["if3"]=data["tollgate_id"].replace([1,2,3],[0,0,1])
    
    #one_hot weekday
    data["wk1"]=data["weekday"].replace(range(0,7),[1,0,0,0,0,0,0])
    data["wk2"]=data["weekday"].replace(range(0,7),[0,1,0,0,0,0,0])
    data["wk3"]=data["weekday"].replace(range(0,7),[0,0,1,0,0,0,0])
    data["wk4"]=data["weekday"].replace(range(0,7),[0,0,0,1,0,0,0])
    data["wk5"]=data["weekday"].replace(range(0,7),[0,0,0,0,1,0,0])
    data["wk6"]=data["weekday"].replace(range(0,7),[0,0,0,0,0,1,0])
    data["wk7"]=data["weekday"].replace(range(0,7),[0,0,0,0,0,0,1])
    
    data["time_number"]=data["hour"]*60+data["minute"]
    data["date_number"]=(data["datetime"]-datetime(2016,7,19)).dt.days
    

    dtrain,dtest,dpred,ddata=select_val(data)
    data_validation=dpred
    q=data_validation.groupby(["month","date","hour","minute","intersection_id","tollgate_id"])["travel_time"].mean()
    p=data_validation.drop(["travel_time","datetime","starting_time","time_number"],axis=1).drop_duplicates().sort(columns=["month","date","hour","minute","intersection_id","tollgate_id"])
    p["travel_time"]=q.values
    cols=list(p)
    cols.insert(2, cols.pop(cols.index('travel_time')))
    p= p.ix[:, cols]
    data_validation=p

    

    return dtrain,dtest,data_validation,ddata

In [50]:
data1 = pd.read_csv('../RawData/trajectories(table 5)_training.csv')
data2 = pd.read_csv('../RawData/trajectories(table 5)_test1.csv')
data=pd.concat([data1,data2])
data=data.iloc[:,[0,1,3,5]]
dtrain,dtest,val,ddata=data_to_TrainAndVal(data,data)
datao=ddata.copy()

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:58: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [51]:
train=pd.concat([dtrain,dtest]).ix[:,list(val)]

In [52]:
feature=[2]+range(17,19)+[3]+range(19,25)+[4,5]
x=train.copy().iloc[:,feature]
xx=x.copy().drop(['travel_time'],axis=1)
xy=(x['travel_time'])

z=val.copy().iloc[:,feature]
zx=z.drop(['travel_time'],axis=1)
zy=(z['travel_time'])
z

,travel_time,holiday,weekday,month,ifA,ifB,ifC,if1,if2,if3,date,hour
19526,68.092500,0,1,10,1,0,0,0,1,0,11,8
16143,146.161250,0,1,10,1,0,0,0,0,1,11,8
22255,86.560000,0,1,10,0,1,0,1,0,0,11,8
21513,142.522500,0,1,10,0,1,0,0,0,1,11,8
20440,158.305000,0,1,10,0,0,1,1,0,0,11,8
19538,75.023636,0,1,10,1,0,0,0,1,0,11,8
16151,168.431818,0,1,10,1,0,0,0,0,1,11,8
22257,127.100000,0,1,10,0,1,0,1,0,0,11,8
21517,93.000000,0,1,10,0,1,0,0,0,1,11,8
20442,148.323333,0,1,10,0,0,1,1,0,0,11,8
21794,131.445000,0,1,10,0,0,1,0,0,1,11,8
19549,75.003200,0,1,10,1,0,0,0,1,0,11,8
16162,180.401429,0,1,10,1,0,0,0,0,1,11,8
22259,87.585000,0,1,10,0,1,0,1,0,0,11,8
21518,136.490000,0,1,10,0,1,0,0,0,1,11,8
20448,140.180000,0,1,10,0,0,1,1,0,0,11,8
21796,137.790000,0,1,10,0,0,1,0,0,1,11,8
25645,69.749091,0,1,10,1,0,0,0,1,0,11,9
28903,142.722857,0,1,10,1,0,0,0,0,1,11,9
26538,133.275000,0,1,10,0,1,0,1,0,0,11,9
30174,96.544286,0,1,10,0,1,0,0,0,1,11,9
27208,174.440000,0,1,10,0,0,1,1,0,0,11,9
25656,55.277222,0,1,10,1,0,0,0,1,0,11,9
28910,121.820000,0,1,10,1,0,0,0,0,1,11,9
26540,120.290000,0,1,10,0,1,0,1,0,0,11,9
30181,104.090000,0,1,10,0,1,0,0,0,1,11,9
27213,129.015000,0,1,10,0,0,1,1,0,0,11,9
30557,202.175000,0,1,10,0,0,1,0,0,1,11,9
25674,70.264286,0,1,10,1,0,0,0,1,0,11,9
28917,121.440000,0,1,10,1,0,0,0,0,1,11,9
...,...,...,...,...,...,...,...,...,...,...,...,...
30291,120.316667,0,0,10,0,1,0,0,0,1,17,9
27289,265.433333,0,0,10,0,0,1,1,0,0,17,9
30573,218.180000,0,0,10,0,0,1,0,0,1,17,9
88987,76.763333,0,0,10,1,0,0,0,1,0,17,17
84730,125.567273,0,0,10,1,0,0,0,0,1,17,17
111214,82.555000,0,0,10,0,1,0,1,0,0,17,17
85151,159.010000,0,0,10,0,0,1,1,0,0,17,17
89002,58.044286,0,0,10,1,0,0,0,1,0,17,17
84741,152.187500,0,0,10,1,0,0,0,0,1,17,17
111216,130.780000,0,0,10,0,1,0,1,0,0,17,17
86256,118.252222,0,0,10,0,1,0,0,0,1,17,17
85153,170.135000,0,0,10,0,0,1,1,0,0,17,17
89347,122.016667,0,0,10,0,0,1,0,0,1,17,17
89016,53.686667,0,0,10,1,0,0,0,1,0,17,17
84753,125.555000,0,0,10,1,0,0,0,0,1,17,17
111217,177.360000,0,0,10,0,1,0,1,0,0,17,17
86265,102.548333,0,0,10,0,1,0,0,0,1,17,17
92070,65.400000,0,0,10,1,0,0,0,1,0,17,18
94227,158.007143,0,0,10,1,0,0,0,0,1,17,18
89631,267.105000,0,0,10,0,0,1,1,0,0,17,18
94509,173.740000,0,0,10,0,0,1,0,0,1,17,18
92076,48.660000,0,0,10,1,0,0,0,1,0,17,18
94234,115.047000,0,0,10,1,0,0,0,0,1,17,18
94805,98.470000,0,0,10,0,1,0,1,0,0,17,18
92929,83.022500,0,0,10,0,1,0,0,0,1,17,18
92079,60.415000,0,0,10,1,0,0,0,1,0,17,18
94244,116.365000,0,0,10,1,0,0,0,0,1,17,18
94806,142.190000,0,0,10,0,1,0,1,0,0,17,18
92933,75.858000,0,0,10,0,1,0,0,0,1,17,18
94512,526.486667,0,0,10,0,0,1,0,0,1,17,18

In [53]:
xlf = xgb.XGBRegressor(max_depth=6, 
                        learning_rate=0.1,
                        n_estimators=4000, 
                        silent=True, 
                        objective="reg:linear", 
    
                        gamma=0,
                        min_child_weight=5, 
                        max_delta_step=0, 
                        subsample=0.8, 
                        colsample_bytree=0.8, 
                        colsample_bylevel=1, 
                        reg_alpha=2, 
                        reg_lambda=0, 
                        scale_pos_weight=1, 
                        seed=1, 
                        missing=None)
xlf.fit(xx,xy, eval_metric=mape,verbose = True, eval_set = [(zx, zy)],early_stopping_rounds=20)
limit=xlf.best_iteration+1

[0]	validation_0-rmse:143.648	validation_0-mape:0.890495
Multiple eval metrics have been passed: 'validation_0-mape' will be used for early stopping.

Will train until validation_0-mape hasn't improved in 20 rounds.
[1]	validation_0-rmse:132.423	validation_0-mape:0.800763
[2]	validation_0-rmse:122.077	validation_0-mape:0.716464
[3]	validation_0-rmse:112.742	validation_0-mape:0.637947
[4]	validation_0-rmse:104.272	validation_0-mape:0.56715
[5]	validation_0-rmse:97.2132	validation_0-mape:0.505776
[6]	validation_0-rmse:91.7988	validation_0-mape:0.458376
[7]	validation_0-rmse:86.2372	validation_0-mape:0.409313
[8]	validation_0-rmse:81.8563	validation_0-mape:0.369313
[9]	validation_0-rmse:77.9331	validation_0-mape:0.332062
[10]	validation_0-rmse:74.6573	validation_0-mape:0.301581
[11]	validation_0-rmse:71.3624	validation_0-mape:0.273257
[12]	validation_0-rmse:69.1875	validation_0-mape:0.25502
[13]	validation_0-rmse:67.2292	validation_0-mape:0.239488
[14]	validation_0-rmse:65.4548	validation_0-mape:0.226315
[15]	validation_0-rmse:63.7218	validation_0-mape:0.215801
[16]	validation_0-rmse:62.3417	validation_0-mape:0.208689
[17]	validation_0-rmse:61.3125	validation_0-mape:0.202805
[18]	validation_0-rmse:60.2503	validation_0-mape:0.198123
[19]	validation_0-rmse:59.4013	validation_0-mape:0.194883
[20]	validation_0-rmse:58.6867	validation_0-mape:0.192681
[21]	validation_0-rmse:58.1174	validation_0-mape:0.190963
[22]	validation_0-rmse:57.5224	validation_0-mape:0.190855
[23]	validation_0-rmse:57.2098	validation_0-mape:0.190876
[24]	validation_0-rmse:56.9053	validation_0-mape:0.191052
[25]	validation_0-rmse:56.5049	validation_0-mape:0.191055
[26]	validation_0-rmse:56.2076	validation_0-mape:0.191615
[27]	validation_0-rmse:55.8798	validation_0-mape:0.192392
[28]	validation_0-rmse:55.6866	validation_0-mape:0.193275
[29]	validation_0-rmse:55.5158	validation_0-mape:0.194151
[30]	validation_0-rmse:55.368	validation_0-mape:0.194683
[31]	validation_0-rmse:55.2853	validation_0-mape:0.195261
[32]	validation_0-rmse:55.1602	validation_0-mape:0.196216
[33]	validation_0-rmse:55.0372	validation_0-mape:0.197113
[34]	validation_0-rmse:54.9602	validation_0-mape:0.197599
[35]	validation_0-rmse:54.8701	validation_0-mape:0.198169
[36]	validation_0-rmse:54.6908	validation_0-mape:0.199018
[37]	validation_0-rmse:54.6086	validation_0-mape:0.19979
[38]	validation_0-rmse:54.3955	validation_0-mape:0.200216
[39]	validation_0-rmse:54.3101	validation_0-mape:0.200903
[40]	validation_0-rmse:54.2778	validation_0-mape:0.20091
[41]	validation_0-rmse:54.2517	validation_0-mape:0.201303
[42]	validation_0-rmse:54.1816	validation_0-mape:0.201337
Stopping. Best iteration:
[22]	validation_0-rmse:57.5224	validation_0-mape:0.190855

In [54]:
def adjust(target,a):
    l=target.copy()
    l["travel_time"]=l["travel_time"]\
                    +a[0]*((l["ifC"]==1)&(l["if3"]==1)&((l["hour"]==8)|(l["hour"]==9)))*l["travel_time"]
    l["travel_time"]=l["travel_time"]\
                    +a[1]*((l["ifC"]==1)&(l["if3"]==1)&((l["hour"]==17)|(l["hour"]==18)))*l["travel_time"]

    l["travel_time"]=l["travel_time"]\
                    +a[2]*((l["ifC"]==1)&(l["if1"]==1)&((l["hour"]==8)|(l["hour"]==9)))*l["travel_time"]
    l["travel_time"]=l["travel_time"]\
                    +a[3]*((l["ifC"]==1)&(l["if1"]==1)&((l["hour"]==17)|(l["hour"]==18)))*l["travel_time"]

    l["travel_time"]=l["travel_time"]\
                    +a[4]*((l["ifA"]==1)&(l["if2"]==1)&((l["hour"]==8)|(l["hour"]==9)))*l["travel_time"]
    l["travel_time"]=l["travel_time"]\
                    +a[5]*((l["ifA"]==1)&(l["if2"]==1)&((l["hour"]==17)|(l["hour"]==18)))*l["travel_time"]

    l["travel_time"]=l["travel_time"]\
                    +a[6]*((l["ifA"]==1)&(l["if3"]==1)&((l["hour"]==8)|(l["hour"]==9)))*l["travel_time"]
    l["travel_time"]=l["travel_time"]\
                    +a[7]*((l["ifA"]==1)&(l["if3"]==1)&((l["hour"]==17)|(l["hour"]==18)))*l["travel_time"]

    l["travel_time"]=l["travel_time"]\
                    +a[8]*((l["ifB"]==1)&(l["if1"]==1)&((l["hour"]==8)|(l["hour"]==9)))*l["travel_time"]
    l["travel_time"]=l["travel_time"]\
                    +a[9]*((l["ifB"]==1)&(l["if1"]==1)&((l["hour"]==17)|(l["hour"]==18)))*l["travel_time"]

    l["travel_time"]=l["travel_time"]\
                    +a[10]*((l["ifB"]==1)&(l["if3"]==1)&((l["hour"]==8)|(l["hour"]==9)))*l["travel_time"]
    l["travel_time"]=l["travel_time"]\
                    +a[11]*((l["ifB"]==1)&(l["if3"]==1)&((l["hour"]==17)|(l["hour"]==18)))*l["travel_time"]
    return l

In [55]:
pred=xlf.predict(zx,ntree_limit=limit)
l=val.copy()
adjust_para=np.array(range(0,12))*0.0
best_para=np.array(range(0,12))*0.0

bestscore=999


for i in range(0,12):
    tmp=list((np.array(range(0,61))-30)/200.0)
    for j in range(0,len(tmp)):
        tmp_para=best_para.copy()
        tmp_para[i]=tmp[j]
        l["travel_time"]=pred
        l=adjust(l,tmp_para)
        score=mape_nparray(l["travel_time"],zy)
        if (score<bestscore):
            bestscore=score
            best_para=tmp_para.copy()

    print(" i= ",i," best= ",bestscore)
    
pred=xlf.predict(zx,ntree_limit=limit)
l=val.copy()
l["travel_time"]=pred
l=adjust(l,best_para)

(' i= ', 0, ' best= ', 0.19038910956516578)
(' i= ', 1, ' best= ', 0.18964660350997192)
(' i= ', 2, ' best= ', 0.18955181155502235)
(' i= ', 3, ' best= ', 0.18947885536159983)
(' i= ', 4, ' best= ', 0.18824439650833161)
(' i= ', 5, ' best= ', 0.18824237700044519)
(' i= ', 6, ' best= ', 0.18650717739732442)
(' i= ', 7, ' best= ', 0.18567408772232108)
(' i= ', 8, ' best= ', 0.18551531264321136)
(' i= ', 9, ' best= ', 0.18504144178138185)
(' i= ', 10, ' best= ', 0.18248897653536789)
(' i= ', 11, ' best= ', 0.18108529416259517)

In [56]:
def data_to_TrainAndVal_knn(data,datao):
      
    data_starting_time=data["starting_time"].str.split(' ',expand=True)
    data_starting_time_date=data_starting_time[0].str.split('-',expand=True)
    data_starting_time_time=data_starting_time[1].str.split(':',expand=True)
    data["month"]=data_starting_time_date[1].apply(int)
    data["date"]=data_starting_time_date[2].apply(int)
    data["hour"]=data_starting_time_time[0].apply(int)
    data["minute"]=data_starting_time_time[1].apply(int)
    data["minute"]=(data["minute"]/20).apply(int)*20
    data["number_intersection_id"]=data["intersection_id"].replace(["A","B","C"],[1,2,3])
    data_std=datao.groupby(["intersection_id","tollgate_id","hour"])["travel_time"].std().reset_index().rename(columns={"travel_time":"travel_time_std"})
    data_mean=datao.groupby(["intersection_id","tollgate_id","hour"])["travel_time"].mean().reset_index().rename(columns={"travel_time":"travel_time_mean"})
    data=pd.merge(data,data_std,on=["intersection_id","tollgate_id","hour"])
    data=pd.merge(data,data_mean,on=["intersection_id","tollgate_id","hour"])
    
    data["holiday_before1"]=1*(((data["month"]==9)&(data["date"]==14))\
                            |((data["month"]==9)&(data["date"]==30)))
    data["holiday_before2"]=1*(((data["month"]==9)&(data["date"]==15))\
                            |((data["month"]==10)&(data["date"]==1)))
    data["holiday_after1"]=1*(((data["month"]==9)&(data["date"]==17))\
                            |((data["month"]==10)&(data["date"]==7)))
    data["holiday_after2"]=1*(((data["month"]==9)&(data["date"]==18))\
                            |((data["month"]==10)&(data["date"]==8)))
    data["holiday1"]=1*((data["month"]==9)&(data["date"]>15)&(data["date"]<19))
    data["holiday2"]=1*((data["month"]==10)&(data["date"]>0)&(data["date"]<8))
    data["workholiday"]=1*(((data["month"]==9)&(data["date"]==19))\
                        |((data["month"]==10)&(data["date"]==9))\
                        |((data["month"]==10)&(data["date"]==10)))
    data["holiday"]=data["holiday1"]+data["holiday2"]
   
    
    data["datetime"]=pd.to_datetime(data["starting_time"])
    data["weekday"]=data["datetime"].dt.weekday
    
    #one_hot A,B,C
    data["ifA"]=data["intersection_id"].replace(["A","B","C"],[1,0,0])
    data["ifB"]=data["intersection_id"].replace(["A","B","C"],[0,1,0])
    data["ifC"]=data["intersection_id"].replace(["A","B","C"],[0,0,1])

    #one_hot 1,2,3
    data["if1"]=data["tollgate_id"].replace([1,2,3],[1,0,0])
    data["if2"]=data["tollgate_id"].replace([1,2,3],[0,1,0])
    data["if3"]=data["tollgate_id"].replace([1,2,3],[0,0,1])
    
    #one_hot weekday
    data["wk1"]=data["weekday"].replace(range(0,7),[1,0,0,0,0,0,0])
    data["wk2"]=data["weekday"].replace(range(0,7),[0,1,0,0,0,0,0])
    data["wk3"]=data["weekday"].replace(range(0,7),[0,0,1,0,0,0,0])
    data["wk4"]=data["weekday"].replace(range(0,7),[0,0,0,1,0,0,0])
    data["wk5"]=data["weekday"].replace(range(0,7),[0,0,0,0,1,0,0])
    data["wk6"]=data["weekday"].replace(range(0,7),[0,0,0,0,0,1,0])
    data["wk7"]=data["weekday"].replace(range(0,7),[0,0,0,0,0,0,1])
    
    data["time_number"]=data["hour"]*60+data["minute"]
    data["date_number"]=(data["datetime"]-datetime(2016,7,19)).dt.days
    
#     data=data.iloc[:,[0,1,2]+range(3,len(data.T))]


    dtrain,dtest,dpred,ddata=select_val_knn(data)
    data_validation=dpred
    q=data_validation.groupby(["month","date","hour","minute","intersection_id","tollgate_id"])["travel_time"].mean()
    p=data_validation.drop(["travel_time","datetime","starting_time","time_number"],axis=1).drop_duplicates().sort(columns=["month","date","hour","minute","intersection_id","tollgate_id"])
    p["travel_time"]=q.values
    cols=list(p)
    cols.insert(2, cols.pop(cols.index('travel_time')))
    p= p.ix[:, cols]
    data_validation=p

    

    return dtrain,dtest,data_validation,ddata

In [57]:
data1 = pd.read_csv('../RawData/trajectories(table 5)_training.csv')
data2 = pd.read_csv('../RawData/trajectories(table_5)_training2.csv')
data3 = pd.read_csv('../RawData/trajectories(table 5)_test2.csv')
data=pd.concat([data1,data2,data3])
data=data.iloc[:,[0,1,3,5]]


dtrain,dtest,val,ddata=data_to_TrainAndVal_knn(data,data)
datao=ddata.copy()

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:58: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [58]:
train=pd.concat([dtrain,dtest])
origin=train.copy()
t=data_avg(origin.copy())
train=t
train["datetime"]=pd.to_datetime(str(2016)+"-"+train["month"].astype(str)+'-'+train["date"].astype(str)\
            +' '+train["hour"].astype(str)+":"+train["minute"].astype(str))

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

In [59]:
tmptw=twframe[twframe["datetime"]<pd.to_datetime(np.array([datetime(2016,10,31,19)]*len(twframe)).astype(str))]

In [60]:
complete_train=pd.merge(train,tmptw,how="right",on=["intersection_id","tollgate_id","datetime"])

In [61]:
nan_train=complete_train[complete_train["travel_time"].isnull()]
Nnan_train=complete_train[~(complete_train["travel_time"].isnull())]

In [62]:
nan_train

,intersection_id,tollgate_id,travel_time,month,date,hour,minute,number_intersection_id,travel_time_std,travel_time_mean,...,wk1,wk2,wk3,wk4,wk5,wk6,wk7,time_number,date_number,datetime
27757,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-19 00:00:00
27758,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-19 00:40:00
27759,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-19 01:00:00
27760,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-19 02:00:00
27761,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-19 03:00:00
27762,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-20 00:00:00
27763,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-20 09:20:00
27764,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-21 00:20:00
27765,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-21 00:40:00
27766,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-21 04:00:00
27767,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-22 02:00:00
27768,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-22 02:40:00
27769,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-22 23:40:00
27770,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 00:00:00
27771,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 00:20:00
27772,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 00:40:00
27773,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 01:00:00
27774,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 01:20:00
27775,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 01:40:00
27776,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 02:00:00
27777,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 02:20:00
27778,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 02:40:00
27779,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 03:00:00
27780,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 03:20:00
27781,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 03:40:00
27782,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 04:00:00
27783,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 04:20:00
27784,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 04:40:00
27785,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 05:00:00
27786,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-23 05:20:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45240,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 06:40:00
45241,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 07:00:00
45242,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 07:40:00
45243,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 08:00:00
45244,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 08:20:00
45245,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 08:40:00
45246,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 09:00:00
45247,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 09:20:00
45248,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 09:40:00
45249,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 10:00:00
45250,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 10:20:00
45251,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 10:40:00
45252,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 11:00:00
45253,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 11:20:00
45254,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 11:40:00
45255,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 12:00:00
45256,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 12:20:00
45257,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 12:40:00
45258,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 13:00:00
45259,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 13:20:00
45260,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 13:40:00
45261,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 14:00:00
45262,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 14:20:00
45263,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 14:40:00
45264,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 17:00:00
45265,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 17:20:00
45266,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 17:40:00
45267,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 18:00:00
45268,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 18:20:00
45269,C,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 18:40:00

In [63]:
def data_to_TrainAndVal_nan(data,datao):
    

    data=data.copy().drop(["travel_time_std","travel_time_mean"],axis=1)
    data_starting_time=data["datetime"].astype(str).str.split(' ',expand=True)
    data_starting_time_date=data_starting_time[0].str.split('-',expand=True)
    data_starting_time_time=data_starting_time[1].str.split(':',expand=True)
    data["month"]=data_starting_time_date[1].apply(int)
    data["date"]=data_starting_time_date[2].apply(int)
    data["hour"]=data_starting_time_time[0].apply(int)
    data["minute"]=data_starting_time_time[1].apply(int)
    data["minute"]=(data["minute"]/20).apply(int)*20
    data["number_intersection_id"]=data["intersection_id"].replace(["A","B","C"],[1,2,3])
    data_std=datao.groupby(["intersection_id","tollgate_id","hour"])["travel_time"].std().reset_index().rename(columns={"travel_time":"travel_time_std"})
    data_mean=datao.groupby(["intersection_id","tollgate_id","hour"])["travel_time"].mean().reset_index().rename(columns={"travel_time":"travel_time_mean"})
    data=pd.merge(data,data_std,on=["intersection_id","tollgate_id","hour"])
    data=pd.merge(data,data_mean,on=["intersection_id","tollgate_id","hour"])
    
    data["holiday_before1"]=1*(((data["month"]==9)&(data["date"]==14))\
                            |((data["month"]==9)&(data["date"]==30)))
    data["holiday_before2"]=1*(((data["month"]==9)&(data["date"]==15))\
                            |((data["month"]==10)&(data["date"]==1)))
    data["holiday_after1"]=1*(((data["month"]==9)&(data["date"]==17))\
                            |((data["month"]==10)&(data["date"]==7)))
    data["holiday_after2"]=1*(((data["month"]==9)&(data["date"]==18))\
                            |((data["month"]==10)&(data["date"]==8)))
    data["holiday1"]=1*((data["month"]==9)&(data["date"]>15)&(data["date"]<19))
    data["holiday2"]=1*((data["month"]==10)&(data["date"]>0)&(data["date"]<8))
    data["workholiday"]=1*(((data["month"]==9)&(data["date"]==19))\
                        |((data["month"]==10)&(data["date"]==9))\
                        |((data["month"]==10)&(data["date"]==10)))
    data["holiday"]=data["holiday1"]+data["holiday2"]
    
    
    data["weekday"]=data["datetime"].dt.weekday
    
    #one_hot A,B,C
    data["ifA"]=data["intersection_id"].replace(["A","B","C"],[1,0,0])
    data["ifB"]=data["intersection_id"].replace(["A","B","C"],[0,1,0])
    data["ifC"]=data["intersection_id"].replace(["A","B","C"],[0,0,1])

    #one_hot 1,2,3
    data["if1"]=data["tollgate_id"].replace([1,2,3],[1,0,0])
    data["if2"]=data["tollgate_id"].replace([1,2,3],[0,1,0])
    data["if3"]=data["tollgate_id"].replace([1,2,3],[0,0,1])
    
    #one_hot weekday
    data["wk1"]=data["weekday"].replace(range(0,7),[1,0,0,0,0,0,0])
    data["wk2"]=data["weekday"].replace(range(0,7),[0,1,0,0,0,0,0])
    data["wk3"]=data["weekday"].replace(range(0,7),[0,0,1,0,0,0,0])
    data["wk4"]=data["weekday"].replace(range(0,7),[0,0,0,1,0,0,0])
    data["wk5"]=data["weekday"].replace(range(0,7),[0,0,0,0,1,0,0])
    data["wk6"]=data["weekday"].replace(range(0,7),[0,0,0,0,0,1,0])
    data["wk7"]=data["weekday"].replace(range(0,7),[0,0,0,0,0,0,1])
    
    data["time_number"]=data["hour"]*60+data["minute"]
    data["date_number"]=(data["datetime"]-datetime(2016,7,19)).dt.days
    data=data.iloc[:,[0,1,2]+range(3,len(data.T))]



    

    return data

In [64]:
nanfill_train=data_to_TrainAndVal_nan(nan_train,datao)

In [65]:
nanfill_train["travel_time"]=xlf.predict(nanfill_train.ix[:,list(z)].drop(['travel_time'],axis=1),
                                         ntree_limit=limit)

In [66]:
nanfill_train=adjust(nanfill_train,best_para)

In [67]:
nanfill_train

,intersection_id,tollgate_id,travel_time,month,date,hour,minute,number_intersection_id,holiday_before1,holiday_before2,...,wk3,wk4,wk5,wk6,wk7,time_number,date_number,datetime,travel_time_std,travel_time_mean
0,A,2,54.482658,7,19,0,0,1,0,0,...,0,0,0,0,0,0,0,2016-07-19 00:00:00,29.065737,56.773541
1,A,2,54.482658,7,19,0,40,1,0,0,...,0,0,0,0,0,40,0,2016-07-19 00:40:00,29.065737,56.773541
2,A,2,55.647675,7,20,0,0,1,0,0,...,1,0,0,0,0,0,1,2016-07-20 00:00:00,29.065737,56.773541
3,A,2,55.647675,7,21,0,20,1,0,0,...,0,1,0,0,0,20,2,2016-07-21 00:20:00,29.065737,56.773541
4,A,2,55.647675,7,21,0,40,1,0,0,...,0,1,0,0,0,40,2,2016-07-21 00:40:00,29.065737,56.773541
5,A,2,78.129776,7,23,0,0,1,0,0,...,0,0,0,1,0,0,4,2016-07-23 00:00:00,29.065737,56.773541
6,A,2,78.129776,7,23,0,20,1,0,0,...,0,0,0,1,0,20,4,2016-07-23 00:20:00,29.065737,56.773541
7,A,2,78.129776,7,23,0,40,1,0,0,...,0,0,0,1,0,40,4,2016-07-23 00:40:00,29.065737,56.773541
8,A,2,56.004410,7,25,0,40,1,0,0,...,0,0,0,0,0,40,6,2016-07-25 00:40:00,29.065737,56.773541
9,A,2,56.004410,7,26,0,40,1,0,0,...,0,0,0,0,0,40,7,2016-07-26 00:40:00,29.065737,56.773541
10,A,2,55.624725,7,28,0,20,1,0,0,...,0,1,0,0,0,20,9,2016-07-28 00:20:00,29.065737,56.773541
11,A,2,60.759018,7,30,0,0,1,0,0,...,0,0,0,1,0,0,11,2016-07-30 00:00:00,29.065737,56.773541
12,A,2,60.759018,7,30,0,20,1,0,0,...,0,0,0,1,0,20,11,2016-07-30 00:20:00,29.065737,56.773541
13,A,2,56.140213,8,1,0,20,1,0,0,...,0,0,0,0,0,20,13,2016-08-01 00:20:00,29.065737,56.773541
14,A,2,55.345337,8,2,0,20,1,0,0,...,0,0,0,0,0,20,14,2016-08-02 00:20:00,29.065737,56.773541
15,A,2,55.345337,8,2,0,40,1,0,0,...,0,0,0,0,0,40,14,2016-08-02 00:40:00,29.065737,56.773541
16,A,2,55.984657,8,3,0,20,1,0,0,...,1,0,0,0,0,20,15,2016-08-03 00:20:00,29.065737,56.773541
17,A,2,55.984657,8,4,0,20,1,0,0,...,0,1,0,0,0,20,16,2016-08-04 00:20:00,29.065737,56.773541
18,A,2,54.592766,8,7,0,40,1,0,0,...,0,0,0,0,1,40,19,2016-08-07 00:40:00,29.065737,56.773541
19,A,2,56.212288,8,8,0,40,1,0,0,...,0,0,0,0,0,40,20,2016-08-08 00:40:00,29.065737,56.773541
20,A,2,55.584911,8,10,0,20,1,0,0,...,1,0,0,0,0,20,22,2016-08-10 00:20:00,29.065737,56.773541
21,A,2,55.584911,8,11,0,40,1,0,0,...,0,1,0,0,0,40,23,2016-08-11 00:40:00,29.065737,56.773541
22,A,2,56.207352,8,12,0,20,1,0,0,...,0,0,1,0,0,20,24,2016-08-12 00:20:00,29.065737,56.773541
23,A,2,57.110321,8,13,0,20,1,0,0,...,0,0,0,1,0,20,25,2016-08-13 00:20:00,29.065737,56.773541
24,A,2,58.041477,8,15,0,20,1,0,0,...,0,0,0,0,0,20,27,2016-08-15 00:20:00,29.065737,56.773541
25,A,2,58.041477,8,15,0,40,1,0,0,...,0,0,0,0,0,40,27,2016-08-15 00:40:00,29.065737,56.773541
26,A,2,50.475895,8,17,0,40,1,0,0,...,1,0,0,0,0,40,29,2016-08-17 00:40:00,29.065737,56.773541
27,A,2,50.475895,8,18,0,20,1,0,0,...,0,1,0,0,0,20,30,2016-08-18 00:20:00,29.065737,56.773541
28,A,2,50.475895,8,18,0,40,1,0,0,...,0,1,0,0,0,40,30,2016-08-18 00:40:00,29.065737,56.773541
29,A,2,51.379337,8,19,0,0,1,0,0,...,0,0,1,0,0,0,31,2016-08-19 00:00:00,29.065737,56.773541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17483,C,3,168.764241,10,13,18,20,3,0,0,...,0,1,0,0,0,1100,86,2016-10-13 18:20:00,89.546603,199.121267
17484,C,3,166.196956,10,15,18,0,3,0,0,...,0,0,0,1,0,1080,88,2016-10-15 18:00:00,89.546603,199.121267
17485,C,3,157.884302,10,17,18,20,3,0,0,...,0,0,0,0,0,1100,90,2016-10-17 18:20:00,89.546603,199.121267
17486,C,3,152.409966,10,18,18,20,3,0,0,...,0,0,0,0,0,1100,91,2016-10-18 18:20:00,89.546603,199.121267
17487,C,3,158.397089,10,20,18,0,3,0,0,...,0,1,0,0,0,1080,93,2016-10-20 18:00:00,89.546603,199.121267
17488,C,3,158.397089,10,20,18,40,3,0,0,...,0,1,0,0,0,1120,93,2016-10-20 18:40:00,89.546603,199.121267
17489,C,3,157.291576,10,23,18,20,3,0,0,...,0,0,0,0,1,1100,96,2016-10-23 18:20:00,89.546603,199.121267
17490,C,3,154.623175,10,24,18,0,3,0,0,...,0,0,0,0,0,1080,97,2016-10-24 18:00:00,89.546603,199.121267
17491,C,3,154.623175,10,24,18,40,3,0,0,...,0,0,0,0,0,1120,97,2016-10-24 18:40:00,89.546603,199.121267
17492,C,3,154.623175,10,25,18,0,3,0,0,...,0,0,0,0,0,1080,98,2016-10-25 18:00:00,89.546603,199.121267
17493,C,3,154.623175,10,25,18,20,3,0,0,...,0,0,0,0,0,1100,98,2016-10-25 18:20:00,89.546603,199.121267
17494,C,3,154.623175,10,25,18,40,3,0,0,...,0,0,0,0,0,1120,98,2016-10-25 18:40:00,89.546603,199.121267
17495,C,3,155.070923,10,26,18,0,3,0,0,...,1,0,0,0,0,1080,99,2016-10-26 18:00:00,89.546603,199.121267
17496,C,3,155.070923,10,26,18,20,3,0,0,...,1,0,0,0,0,1100,99,2016-10-26 18:20:00,89.546603,199.121267
17497,C,3,155.070923,10,26,18,40,3,0,0,...,1,0,0,0,0,1120,99,2016-10-26 18:40:00,89.546603,199.121267
17498,C,3,161.519678,10,27,18,0,3,0,0,...,0,1,0,0,0,1080,100,2016-10-27 18:00:00,89.546603,199.121267
17499,C,3,161.519678,10,27,18,20,3,0,0,...,0,1,0,0,0,1100,100,2016-10-27 18:20:00,89.546603,199.121267
17500,C,3,161.519678,10,27,18,40,3,0,0,...,0,1,0,0,0,1120,100,2016-10-27 18:40:00,89.546603,199.121267
17501,C,3,161.892403,10,28,18,0,3,0,0,...,0,0,1,0,0,1080,101,2016-10-28 18:00:00,89.546603,199.121267
17502,C,3,161.892403,10,28,18,20,3,0,0,...,0,0,1,0,0,1100,101,2016-10-28 18:20:00,89.546603,199.121267
17503,C,3,161.892403,10,28,18,40,3,0,0,...,0,0,1,0,0,1120,101,2016-10-28 18:40:00,89.546603,199.121267
17504,C,3,159.290401,10,29,18,0,3,0,0,...,0,0,0,1,0,1080,102,2016-10-29 18:00:00,89.546603,199.121267
17505,C,3,159.290401,10,29,18,20,3,0,0,...,0,0,0,1,0,1100,102,2016-10-29 18:20:00,89.546603,199.121267
17506,C,3,159.290401,10,29,18,40,3,0,0,...,0,0,0,1,0,1120,102,2016-10-29 18:40:00,89.546603,199.121267
17507,C,3,175.735025,10,30,18,0,3,0,0,...,0,0,0,0,1,1080,103,2016-10-30 18:00:00,89.546603,199.121267
17508,C,3,175.735025,10,30,18,20,3,0,0,...,0,0,0,0,1,1100,103,2016-10-30 18:20:00,89.546603,199.121267
17509,C,3,175.735025,10,30,18,40,3,0,0,...,0,0,0,0,1,1120,103,2016-10-30 18:40:00,89.546603,199.121267
17510,C,3,169.577504,10,31,18,0,3,0,0,...,0,0,0,0,0,1080,104,2016-10-31 18:00:00,89.546603,199.121267
17511,C,3,169.577504,10,31,18,20,3,0,0,...,0,0,0,0,0,1100,104,2016-10-31 18:20:00,89.546603,199.121267
17512,C,3,169.577504,10,31,18,40,3,0,0,...,0,0,0,0,0,1120,104,2016-10-31 18:40:00,89.546603,199.121267

In [68]:
full_train=pd.concat([nanfill_train,Nnan_train]).ix[:,list(val)]
full_train.index=range(0,len(full_train))

In [69]:
full_train["datetime"]=pd.to_datetime(str(2016)+"-"+full_train["month"].astype(int).astype(str)+'-'+full_train["date"].astype(int).astype(str)\
            +' '+full_train["hour"].astype(int).astype(str)+":"+full_train["minute"].astype(int).astype(str))

In [70]:
full_train

,intersection_id,tollgate_id,travel_time,month,date,hour,minute,number_intersection_id,travel_time_std,travel_time_mean,...,if3,wk1,wk2,wk3,wk4,wk5,wk6,wk7,date_number,datetime
0,A,2,54.482658,7,19,0,0,1,29.065737,56.773541,...,0,0,1,0,0,0,0,0,0,2016-07-19 00:00:00
1,A,2,54.482658,7,19,0,40,1,29.065737,56.773541,...,0,0,1,0,0,0,0,0,0,2016-07-19 00:40:00
2,A,2,55.647675,7,20,0,0,1,29.065737,56.773541,...,0,0,0,1,0,0,0,0,1,2016-07-20 00:00:00
3,A,2,55.647675,7,21,0,20,1,29.065737,56.773541,...,0,0,0,0,1,0,0,0,2,2016-07-21 00:20:00
4,A,2,55.647675,7,21,0,40,1,29.065737,56.773541,...,0,0,0,0,1,0,0,0,2,2016-07-21 00:40:00
5,A,2,78.129776,7,23,0,0,1,29.065737,56.773541,...,0,0,0,0,0,0,1,0,4,2016-07-23 00:00:00
6,A,2,78.129776,7,23,0,20,1,29.065737,56.773541,...,0,0,0,0,0,0,1,0,4,2016-07-23 00:20:00
7,A,2,78.129776,7,23,0,40,1,29.065737,56.773541,...,0,0,0,0,0,0,1,0,4,2016-07-23 00:40:00
8,A,2,56.004410,7,25,0,40,1,29.065737,56.773541,...,0,1,0,0,0,0,0,0,6,2016-07-25 00:40:00
9,A,2,56.004410,7,26,0,40,1,29.065737,56.773541,...,0,0,1,0,0,0,0,0,7,2016-07-26 00:40:00
10,A,2,55.624725,7,28,0,20,1,29.065737,56.773541,...,0,0,0,0,1,0,0,0,9,2016-07-28 00:20:00
11,A,2,60.759018,7,30,0,0,1,29.065737,56.773541,...,0,0,0,0,0,0,1,0,11,2016-07-30 00:00:00
12,A,2,60.759018,7,30,0,20,1,29.065737,56.773541,...,0,0,0,0,0,0,1,0,11,2016-07-30 00:20:00
13,A,2,56.140213,8,1,0,20,1,29.065737,56.773541,...,0,1,0,0,0,0,0,0,13,2016-08-01 00:20:00
14,A,2,55.345337,8,2,0,20,1,29.065737,56.773541,...,0,0,1,0,0,0,0,0,14,2016-08-02 00:20:00
15,A,2,55.345337,8,2,0,40,1,29.065737,56.773541,...,0,0,1,0,0,0,0,0,14,2016-08-02 00:40:00
16,A,2,55.984657,8,3,0,20,1,29.065737,56.773541,...,0,0,0,1,0,0,0,0,15,2016-08-03 00:20:00
17,A,2,55.984657,8,4,0,20,1,29.065737,56.773541,...,0,0,0,0,1,0,0,0,16,2016-08-04 00:20:00
18,A,2,54.592766,8,7,0,40,1,29.065737,56.773541,...,0,0,0,0,0,0,0,1,19,2016-08-07 00:40:00
19,A,2,56.212288,8,8,0,40,1,29.065737,56.773541,...,0,1,0,0,0,0,0,0,20,2016-08-08 00:40:00
20,A,2,55.584911,8,10,0,20,1,29.065737,56.773541,...,0,0,0,1,0,0,0,0,22,2016-08-10 00:20:00
21,A,2,55.584911,8,11,0,40,1,29.065737,56.773541,...,0,0,0,0,1,0,0,0,23,2016-08-11 00:40:00
22,A,2,56.207352,8,12,0,20,1,29.065737,56.773541,...,0,0,0,0,0,1,0,0,24,2016-08-12 00:20:00
23,A,2,57.110321,8,13,0,20,1,29.065737,56.773541,...,0,0,0,0,0,0,1,0,25,2016-08-13 00:20:00
24,A,2,58.041477,8,15,0,20,1,29.065737,56.773541,...,0,1,0,0,0,0,0,0,27,2016-08-15 00:20:00
25,A,2,58.041477,8,15,0,40,1,29.065737,56.773541,...,0,1,0,0,0,0,0,0,27,2016-08-15 00:40:00
26,A,2,50.475895,8,17,0,40,1,29.065737,56.773541,...,0,0,0,1,0,0,0,0,29,2016-08-17 00:40:00
27,A,2,50.475895,8,18,0,20,1,29.065737,56.773541,...,0,0,0,0,1,0,0,0,30,2016-08-18 00:20:00
28,A,2,50.475895,8,18,0,40,1,29.065737,56.773541,...,0,0,0,0,1,0,0,0,30,2016-08-18 00:40:00
29,A,2,51.379337,8,19,0,0,1,29.065737,56.773541,...,0,0,0,0,0,1,0,0,31,2016-08-19 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45240,C,1,183.983333,10,31,15,0,3,75.830928,193.640441,...,0,1,0,0,0,0,0,0,104,2016-10-31 15:00:00
45241,C,3,108.040000,10,31,15,0,3,57.651887,186.714637,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:00:00
45242,A,2,66.656923,10,31,15,20,1,41.075873,71.065937,...,0,1,0,0,0,0,0,0,104,2016-10-31 15:20:00
45243,A,3,84.404000,10,31,15,20,1,80.054530,120.888666,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:20:00
45244,B,1,83.780000,10,31,15,20,2,57.388444,131.715007,...,0,1,0,0,0,0,0,0,104,2016-10-31 15:20:00
45245,B,3,101.950000,10,31,15,20,2,50.390317,116.060139,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:20:00
45246,C,1,200.700000,10,31,15,20,3,75.830928,193.640441,...,0,1,0,0,0,0,0,0,104,2016-10-31 15:20:00
45247,C,3,158.860000,10,31,15,20,3,57.651887,186.714637,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:20:00
45248,A,2,51.784286,10,31,15,40,1,41.075873,71.065937,...,0,1,0,0,0,0,0,0,104,2016-10-31 15:40:00
45249,A,3,93.183333,10,31,15,40,1,80.054530,120.888666,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:40:00
45250,B,1,114.240000,10,31,15,40,2,57.388444,131.715007,...,0,1,0,0,0,0,0,0,104,2016-10-31 15:40:00
45251,B,3,95.902500,10,31,15,40,2,50.390317,116.060139,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:40:00
45252,C,1,207.570000,10,31,15,40,3,75.830928,193.640441,...,0,1,0,0,0,0,0,0,104,2016-10-31 15:40:00
45253,C,3,215.305000,10,31,15,40,3,57.651887,186.714637,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:40:00
45254,A,2,63.901667,10,31,16,0,1,39.887124,72.503117,...,0,1,0,0,0,0,0,0,104,2016-10-31 16:00:00
45255,A,3,112.973333,10,31,16,0,1,52.775861,122.122167,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:00:00
45256,B,3,76.350000,10,31,16,0,2,51.071888,116.412352,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:00:00
45257,C,1,275.930000,10,31,16,0,3,61.441223,192.944153,...,0,1,0,0,0,0,0,0,104,2016-10-31 16:00:00
45258,C,3,192.583333,10,31,16,0,3,62.478464,188.750087,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:00:00
45259,A,2,75.585556,10,31,16,20,1,39.887124,72.503117,...,0,1,0,0,0,0,0,0,104,2016-10-31 16:20:00
45260,A,3,132.820000,10,31,16,20,1,52.775861,122.122167,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:20:00
45261,B,1,125.603333,10,31,16,20,2,51.493813,136.239336,...,0,1,0,0,0,0,0,0,104,2016-10-31 16:20:00
45262,B,3,103.106667,10,31,16,20,2,51.071888,116.412352,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:20:00
45263,C,1,219.290000,10,31,16,20,3,61.441223,192.944153,...,0,1,0,0,0,0,0,0,104,2016-10-31 16:20:00
45264,C,3,158.133333,10,31,16,20,3,62.478464,188.750087,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:20:00
45265,A,2,52.724000,10,31,16,40,1,39.887124,72.503117,...,0,1,0,0,0,0,0,0,104,2016-10-31 16:40:00
45266,A,3,129.143750,10,31,16,40,1,52.775861,122.122167,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:40:00
45267,B,3,102.750000,10,31,16,40,2,51.071888,116.412352,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:40:00
45268,C,1,153.460000,10,31,16,40,3,61.441223,192.944153,...,0,1,0,0,0,0,0,0,104,2016-10-31 16:40:00
45269,C,3,177.770000,10,31,16,40,3,62.478464,188.750087,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:40:00

In [71]:
full_train=full_train.sort(columns=["intersection_id","tollgate_id","month","date","hour","minute"])

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [72]:
full_train

,intersection_id,tollgate_id,travel_time,month,date,hour,minute,number_intersection_id,travel_time_std,travel_time_mean,...,if3,wk1,wk2,wk3,wk4,wk5,wk6,wk7,date_number,datetime
0,A,2,54.482658,7,19,0,0,1,29.065737,56.773541,...,0,0,1,0,0,0,0,0,0,2016-07-19 00:00:00
17514,A,2,58.050000,7,19,0,20,1,29.065737,56.773541,...,0,0,1,0,0,0,0,0,0,2016-07-19 00:20:00
1,A,2,54.482658,7,19,0,40,1,29.065737,56.773541,...,0,0,1,0,0,0,0,0,0,2016-07-19 00:40:00
102,A,2,54.482658,7,19,1,0,1,42.420071,58.726301,...,0,0,1,0,0,0,0,0,0,2016-07-19 01:00:00
17519,A,2,56.870000,7,19,1,20,1,42.420071,58.726301,...,0,0,1,0,0,0,0,0,0,2016-07-19 01:20:00
17523,A,2,77.740000,7,19,1,40,1,42.420071,58.726301,...,0,0,1,0,0,0,0,0,0,2016-07-19 01:40:00
232,A,2,54.482658,7,19,2,0,1,40.416861,59.179945,...,0,0,1,0,0,0,0,0,0,2016-07-19 02:00:00
17527,A,2,42.640000,7,19,2,20,1,40.416861,59.179945,...,0,0,1,0,0,0,0,0,0,2016-07-19 02:20:00
17529,A,2,40.173333,7,19,2,40,1,40.416861,59.179945,...,0,0,1,0,0,0,0,0,0,2016-07-19 02:40:00
360,A,2,53.330826,7,19,3,0,1,45.781885,58.020475,...,0,0,1,0,0,0,0,0,0,2016-07-19 03:00:00
17532,A,2,41.920000,7,19,3,20,1,45.781885,58.020475,...,0,0,1,0,0,0,0,0,0,2016-07-19 03:20:00
17533,A,2,39.430000,7,19,3,40,1,45.781885,58.020475,...,0,0,1,0,0,0,0,0,0,2016-07-19 03:40:00
17535,A,2,48.130000,7,19,4,0,1,86.844745,66.814281,...,0,0,1,0,0,0,0,0,0,2016-07-19 04:00:00
17537,A,2,62.106667,7,19,4,20,1,86.844745,66.814281,...,0,0,1,0,0,0,0,0,0,2016-07-19 04:20:00
17540,A,2,46.115000,7,19,4,40,1,86.844745,66.814281,...,0,0,1,0,0,0,0,0,0,2016-07-19 04:40:00
17544,A,2,49.556000,7,19,5,0,1,60.413884,57.051956,...,0,0,1,0,0,0,0,0,0,2016-07-19 05:00:00
17546,A,2,54.840000,7,19,5,20,1,60.413884,57.051956,...,0,0,1,0,0,0,0,0,0,2016-07-19 05:20:00
17549,A,2,58.084286,7,19,5,40,1,60.413884,57.051956,...,0,0,1,0,0,0,0,0,0,2016-07-19 05:40:00
17551,A,2,46.356000,7,19,6,0,1,49.497381,59.054283,...,0,0,1,0,0,0,0,0,0,2016-07-19 06:00:00
17556,A,2,48.588000,7,19,6,20,1,49.497381,59.054283,...,0,0,1,0,0,0,0,0,0,2016-07-19 06:20:00
17560,A,2,66.642500,7,19,6,40,1,49.497381,59.054283,...,0,0,1,0,0,0,0,0,0,2016-07-19 06:40:00
17565,A,2,64.681000,7,19,7,0,1,39.187071,68.767064,...,0,0,1,0,0,0,0,0,0,2016-07-19 07:00:00
17570,A,2,85.676000,7,19,7,20,1,39.187071,68.767064,...,0,0,1,0,0,0,0,0,0,2016-07-19 07:20:00
17574,A,2,58.968889,7,19,7,40,1,39.187071,68.767064,...,0,0,1,0,0,0,0,0,0,2016-07-19 07:40:00
17578,A,2,81.602857,7,19,8,0,1,53.898409,82.160819,...,0,0,1,0,0,0,0,0,0,2016-07-19 08:00:00
17583,A,2,80.207857,7,19,8,20,1,53.898409,82.160819,...,0,0,1,0,0,0,0,0,0,2016-07-19 08:20:00
17589,A,2,63.448462,7,19,8,40,1,53.898409,82.160819,...,0,0,1,0,0,0,0,0,0,2016-07-19 08:40:00
17593,A,2,78.051176,7,19,9,0,1,49.844159,80.981747,...,0,0,1,0,0,0,0,0,0,2016-07-19 09:00:00
17598,A,2,69.038333,7,19,9,20,1,49.844159,80.981747,...,0,0,1,0,0,0,0,0,0,2016-07-19 09:20:00
17603,A,2,69.657143,7,19,9,40,1,49.844159,80.981747,...,0,0,1,0,0,0,0,0,0,2016-07-19 09:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15314,C,3,144.905474,10,31,9,0,3,63.920694,184.701661,...,1,1,0,0,0,0,0,0,104,2016-10-31 09:00:00
15315,C,3,144.905474,10,31,9,20,3,63.920694,184.701661,...,1,1,0,0,0,0,0,0,104,2016-10-31 09:20:00
15316,C,3,144.905474,10,31,9,40,3,63.920694,184.701661,...,1,1,0,0,0,0,0,0,104,2016-10-31 09:40:00
15468,C,3,166.207687,10,31,10,0,3,53.791502,180.689509,...,1,1,0,0,0,0,0,0,104,2016-10-31 10:00:00
15469,C,3,166.207687,10,31,10,20,3,53.791502,180.689509,...,1,1,0,0,0,0,0,0,104,2016-10-31 10:20:00
15470,C,3,166.207687,10,31,10,40,3,53.791502,180.689509,...,1,1,0,0,0,0,0,0,104,2016-10-31 10:40:00
15625,C,3,168.136581,10,31,11,0,3,75.682675,177.837839,...,1,1,0,0,0,0,0,0,104,2016-10-31 11:00:00
15626,C,3,168.136581,10,31,11,20,3,75.682675,177.837839,...,1,1,0,0,0,0,0,0,104,2016-10-31 11:20:00
15627,C,3,168.136581,10,31,11,40,3,75.682675,177.837839,...,1,1,0,0,0,0,0,0,104,2016-10-31 11:40:00
15755,C,3,169.627396,10,31,12,0,3,71.954303,176.588430,...,1,1,0,0,0,0,0,0,104,2016-10-31 12:00:00
15756,C,3,169.627396,10,31,12,20,3,71.954303,176.588430,...,1,1,0,0,0,0,0,0,104,2016-10-31 12:20:00
15757,C,3,169.627396,10,31,12,40,3,71.954303,176.588430,...,1,1,0,0,0,0,0,0,104,2016-10-31 12:40:00
15858,C,3,176.121399,10,31,13,0,3,64.115778,183.533683,...,1,1,0,0,0,0,0,0,104,2016-10-31 13:00:00
15859,C,3,176.121399,10,31,13,20,3,64.115778,183.533683,...,1,1,0,0,0,0,0,0,104,2016-10-31 13:20:00
15860,C,3,176.121399,10,31,13,40,3,64.115778,183.533683,...,1,1,0,0,0,0,0,0,104,2016-10-31 13:40:00
17136,C,3,167.147568,10,31,14,0,3,68.109744,192.303905,...,1,1,0,0,0,0,0,0,104,2016-10-31 14:00:00
17137,C,3,167.147568,10,31,14,20,3,68.109744,192.303905,...,1,1,0,0,0,0,0,0,104,2016-10-31 14:20:00
17138,C,3,167.147568,10,31,14,40,3,68.109744,192.303905,...,1,1,0,0,0,0,0,0,104,2016-10-31 14:40:00
45241,C,3,108.040000,10,31,15,0,3,57.651887,186.714637,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:00:00
45247,C,3,158.860000,10,31,15,20,3,57.651887,186.714637,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:20:00
45253,C,3,215.305000,10,31,15,40,3,57.651887,186.714637,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:40:00
45258,C,3,192.583333,10,31,16,0,3,62.478464,188.750087,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:00:00
45264,C,3,158.133333,10,31,16,20,3,62.478464,188.750087,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:20:00
45269,C,3,177.770000,10,31,16,40,3,62.478464,188.750087,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:40:00
17356,C,3,168.615871,10,31,17,0,3,58.548058,192.453085,...,1,1,0,0,0,0,0,0,104,2016-10-31 17:00:00
17357,C,3,168.615871,10,31,17,20,3,58.548058,192.453085,...,1,1,0,0,0,0,0,0,104,2016-10-31 17:20:00
17358,C,3,168.615871,10,31,17,40,3,58.548058,192.453085,...,1,1,0,0,0,0,0,0,104,2016-10-31 17:40:00
17510,C,3,169.577504,10,31,18,0,3,89.546603,199.121267,...,1,1,0,0,0,0,0,0,104,2016-10-31 18:00:00
17511,C,3,169.577504,10,31,18,20,3,89.546603,199.121267,...,1,1,0,0,0,0,0,0,104,2016-10-31 18:20:00
17512,C,3,169.577504,10,31,18,40,3,89.546603,199.121267,...,1,1,0,0,0,0,0,0,104,2016-10-31 18:40:00

In [73]:
train_knn=full_train[(full_train["hour"]==6)|(full_train["hour"]==7)|(full_train["hour"]==15)|(full_train["hour"]==16)].copy()
train_knn

,intersection_id,tollgate_id,travel_time,month,date,hour,minute,number_intersection_id,travel_time_std,travel_time_mean,...,if3,wk1,wk2,wk3,wk4,wk5,wk6,wk7,date_number,datetime
17551,A,2,46.356000,7,19,6,0,1,49.497381,59.054283,...,0,0,1,0,0,0,0,0,0,2016-07-19 06:00:00
17556,A,2,48.588000,7,19,6,20,1,49.497381,59.054283,...,0,0,1,0,0,0,0,0,0,2016-07-19 06:20:00
17560,A,2,66.642500,7,19,6,40,1,49.497381,59.054283,...,0,0,1,0,0,0,0,0,0,2016-07-19 06:40:00
17565,A,2,64.681000,7,19,7,0,1,39.187071,68.767064,...,0,0,1,0,0,0,0,0,0,2016-07-19 07:00:00
17570,A,2,85.676000,7,19,7,20,1,39.187071,68.767064,...,0,0,1,0,0,0,0,0,0,2016-07-19 07:20:00
17574,A,2,58.968889,7,19,7,40,1,39.187071,68.767064,...,0,0,1,0,0,0,0,0,0,2016-07-19 07:40:00
17683,A,2,79.420833,7,19,15,0,1,41.075873,71.065937,...,0,0,1,0,0,0,0,0,0,2016-07-19 15:00:00
17688,A,2,72.314000,7,19,15,20,1,41.075873,71.065937,...,0,0,1,0,0,0,0,0,0,2016-07-19 15:20:00
17694,A,2,58.741000,7,19,15,40,1,41.075873,71.065937,...,0,0,1,0,0,0,0,0,0,2016-07-19 15:40:00
17698,A,2,59.637500,7,19,16,0,1,39.887124,72.503117,...,0,0,1,0,0,0,0,0,0,2016-07-19 16:00:00
17703,A,2,51.970000,7,19,16,20,1,39.887124,72.503117,...,0,0,1,0,0,0,0,0,0,2016-07-19 16:20:00
17709,A,2,61.600909,7,19,16,40,1,39.887124,72.503117,...,0,0,1,0,0,0,0,0,0,2016-07-19 16:40:00
17839,A,2,44.095000,7,20,6,0,1,49.497381,59.054283,...,0,0,0,1,0,0,0,0,1,2016-07-20 06:00:00
17843,A,2,59.874444,7,20,6,20,1,49.497381,59.054283,...,0,0,0,1,0,0,0,0,1,2016-07-20 06:20:00
17846,A,2,88.815000,7,20,6,40,1,49.497381,59.054283,...,0,0,0,1,0,0,0,0,1,2016-07-20 06:40:00
17850,A,2,77.847778,7,20,7,0,1,39.187071,68.767064,...,0,0,0,1,0,0,0,0,1,2016-07-20 07:00:00
17856,A,2,94.919167,7,20,7,20,1,39.187071,68.767064,...,0,0,0,1,0,0,0,0,1,2016-07-20 07:20:00
17861,A,2,73.677273,7,20,7,40,1,39.187071,68.767064,...,0,0,0,1,0,0,0,0,1,2016-07-20 07:40:00
17971,A,2,62.180000,7,20,15,0,1,41.075873,71.065937,...,0,0,0,1,0,0,0,0,1,2016-07-20 15:00:00
17976,A,2,64.332222,7,20,15,20,1,41.075873,71.065937,...,0,0,0,1,0,0,0,0,1,2016-07-20 15:20:00
17981,A,2,70.333077,7,20,15,40,1,41.075873,71.065937,...,0,0,0,1,0,0,0,0,1,2016-07-20 15:40:00
17985,A,2,67.110000,7,20,16,0,1,39.887124,72.503117,...,0,0,0,1,0,0,0,0,1,2016-07-20 16:00:00
17991,A,2,82.793125,7,20,16,20,1,39.887124,72.503117,...,0,0,0,1,0,0,0,0,1,2016-07-20 16:20:00
17996,A,2,52.871429,7,20,16,40,1,39.887124,72.503117,...,0,0,0,1,0,0,0,0,1,2016-07-20 16:40:00
18116,A,2,63.176667,7,21,6,0,1,49.497381,59.054283,...,0,0,0,0,1,0,0,0,2,2016-07-21 06:00:00
18119,A,2,87.030000,7,21,6,20,1,49.497381,59.054283,...,0,0,0,0,1,0,0,0,2,2016-07-21 06:20:00
18123,A,2,65.336667,7,21,6,40,1,49.497381,59.054283,...,0,0,0,0,1,0,0,0,2,2016-07-21 06:40:00
18127,A,2,78.012000,7,21,7,0,1,39.187071,68.767064,...,0,0,0,0,1,0,0,0,2,2016-07-21 07:00:00
18131,A,2,109.729333,7,21,7,20,1,39.187071,68.767064,...,0,0,0,0,1,0,0,0,2,2016-07-21 07:20:00
18134,A,2,114.720000,7,21,7,40,1,39.187071,68.767064,...,0,0,0,0,1,0,0,0,2,2016-07-21 07:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45116,C,3,170.405000,10,29,15,0,3,57.651887,186.714637,...,1,0,0,0,0,0,1,0,102,2016-10-29 15:00:00
15957,C,3,170.874390,10,29,15,20,3,57.651887,186.714637,...,1,0,0,0,0,0,1,0,102,2016-10-29 15:20:00
45127,C,3,199.815000,10,29,15,40,3,57.651887,186.714637,...,1,0,0,0,0,0,1,0,102,2016-10-29 15:40:00
45133,C,3,163.950000,10,29,16,0,3,62.478464,188.750087,...,1,0,0,0,0,0,1,0,102,2016-10-29 16:00:00
45139,C,3,228.040000,10,29,16,20,3,62.478464,188.750087,...,1,0,0,0,0,0,1,0,102,2016-10-29 16:20:00
17216,C,3,173.050003,10,29,16,40,3,62.478464,188.750087,...,1,0,0,0,0,0,1,0,102,2016-10-29 16:40:00
14818,C,3,150.888474,10,30,6,0,3,91.333566,185.802469,...,1,0,0,0,0,0,0,1,103,2016-10-30 06:00:00
14819,C,3,150.888474,10,30,6,20,3,91.333566,185.802469,...,1,0,0,0,0,0,0,1,103,2016-10-30 06:20:00
45156,C,3,138.390000,10,30,6,40,3,91.333566,185.802469,...,1,0,0,0,0,0,0,1,103,2016-10-30 06:40:00
45162,C,3,136.995000,10,30,7,0,3,76.888266,173.092567,...,1,0,0,0,0,0,0,1,103,2016-10-30 07:00:00
45168,C,3,168.130000,10,30,7,20,3,76.888266,173.092567,...,1,0,0,0,0,0,0,1,103,2016-10-30 07:20:00
15000,C,3,147.838379,10,30,7,40,3,76.888266,173.092567,...,1,0,0,0,0,0,0,1,103,2016-10-30 07:40:00
45179,C,3,232.715000,10,30,15,0,3,57.651887,186.714637,...,1,0,0,0,0,0,0,1,103,2016-10-30 15:00:00
45185,C,3,218.067500,10,30,15,20,3,57.651887,186.714637,...,1,0,0,0,0,0,0,1,103,2016-10-30 15:20:00
45191,C,3,225.890000,10,30,15,40,3,57.651887,186.714637,...,1,0,0,0,0,0,0,1,103,2016-10-30 15:40:00
45197,C,3,226.332000,10,30,16,0,3,62.478464,188.750087,...,1,0,0,0,0,0,0,1,103,2016-10-30 16:00:00
45203,C,3,159.065000,10,30,16,20,3,62.478464,188.750087,...,1,0,0,0,0,0,0,1,103,2016-10-30 16:20:00
45209,C,3,215.876667,10,30,16,40,3,62.478464,188.750087,...,1,0,0,0,0,0,0,1,103,2016-10-30 16:40:00
45214,C,3,118.880000,10,31,6,0,3,91.333566,185.802469,...,1,1,0,0,0,0,0,0,104,2016-10-31 06:00:00
14820,C,3,158.228027,10,31,6,20,3,91.333566,185.802469,...,1,1,0,0,0,0,0,0,104,2016-10-31 06:20:00
14821,C,3,158.228027,10,31,6,40,3,91.333566,185.802469,...,1,1,0,0,0,0,0,0,104,2016-10-31 06:40:00
15001,C,3,155.177933,10,31,7,0,3,76.888266,173.092567,...,1,1,0,0,0,0,0,0,104,2016-10-31 07:00:00
45231,C,3,141.910000,10,31,7,20,3,76.888266,173.092567,...,1,1,0,0,0,0,0,0,104,2016-10-31 07:20:00
15002,C,3,155.177933,10,31,7,40,3,76.888266,173.092567,...,1,1,0,0,0,0,0,0,104,2016-10-31 07:40:00
45241,C,3,108.040000,10,31,15,0,3,57.651887,186.714637,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:00:00
45247,C,3,158.860000,10,31,15,20,3,57.651887,186.714637,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:20:00
45253,C,3,215.305000,10,31,15,40,3,57.651887,186.714637,...,1,1,0,0,0,0,0,0,104,2016-10-31 15:40:00
45258,C,3,192.583333,10,31,16,0,3,62.478464,188.750087,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:00:00
45264,C,3,158.133333,10,31,16,20,3,62.478464,188.750087,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:20:00
45269,C,3,177.770000,10,31,16,40,3,62.478464,188.750087,...,1,1,0,0,0,0,0,0,104,2016-10-31 16:40:00

In [74]:
val_knn=data_avg(dtest)
val_knn

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

,intersection_id,tollgate_id,travel_time,month,date,hour,minute,number_intersection_id,travel_time_std,travel_time_mean,...,if3,wk1,wk2,wk3,wk4,wk5,wk6,wk7,time_number,date_number
8538,A,2,29.742500,10,25,6,0,1,49.497381,59.054283,...,0,0,1,0,0,0,0,0,360,98
6562,A,3,84.930000,10,25,6,0,1,56.155640,112.759894,...,1,0,1,0,0,0,0,0,360,98
9029,B,1,103.810000,10,25,6,0,2,95.634350,130.427791,...,0,0,1,0,0,0,0,0,360,98
9473,B,3,273.550000,10,25,6,0,2,59.711535,102.714875,...,1,0,1,0,0,0,0,0,360,98
6948,C,1,231.340000,10,25,6,0,3,55.097820,158.501563,...,0,0,1,0,0,0,0,0,360,98
8542,A,2,56.415714,10,25,6,20,1,49.497381,59.054283,...,0,0,1,0,0,0,0,0,380,98
6564,A,3,108.198333,10,25,6,20,1,56.155640,112.759894,...,1,0,1,0,0,0,0,0,380,98
9030,B,1,88.710000,10,25,6,20,2,95.634350,130.427791,...,0,0,1,0,0,0,0,0,380,98
9474,B,3,106.990000,10,25,6,20,2,59.711535,102.714875,...,1,0,1,0,0,0,0,0,380,98
6949,C,1,136.270000,10,25,6,20,3,55.097820,158.501563,...,0,0,1,0,0,0,0,0,380,98
9581,C,3,234.680000,10,25,6,20,3,91.333566,185.802469,...,1,0,1,0,0,0,0,0,380,98
8549,A,2,47.728000,10,25,6,40,1,49.497381,59.054283,...,0,0,1,0,0,0,0,0,400,98
6570,A,3,139.220000,10,25,6,40,1,56.155640,112.759894,...,1,0,1,0,0,0,0,0,400,98
9032,B,1,124.450000,10,25,6,40,2,95.634350,130.427791,...,0,0,1,0,0,0,0,0,400,98
9475,B,3,61.390000,10,25,6,40,2,59.711535,102.714875,...,1,0,1,0,0,0,0,0,400,98
6950,C,1,181.840000,10,25,6,40,3,55.097820,158.501563,...,0,0,1,0,0,0,0,0,400,98
12310,A,2,43.190000,10,25,7,0,1,39.187071,68.767064,...,0,0,1,0,0,0,0,0,420,98
13844,A,3,136.844000,10,25,7,0,1,71.914336,136.927346,...,1,0,1,0,0,0,0,0,420,98
14380,B,1,111.550000,10,25,7,0,2,46.079600,115.768872,...,0,0,1,0,0,0,0,0,420,98
15222,B,3,79.933333,10,25,7,0,2,55.220358,105.839804,...,1,0,1,0,0,0,0,0,420,98
15909,C,1,176.366667,10,25,7,0,3,51.646256,175.031104,...,0,0,1,0,0,0,0,0,420,98
15461,C,3,137.300000,10,25,7,0,3,76.888266,173.092567,...,1,0,1,0,0,0,0,0,420,98
12316,A,2,69.813846,10,25,7,20,1,39.187071,68.767064,...,0,0,1,0,0,0,0,0,440,98
13854,A,3,135.770000,10,25,7,20,1,71.914336,136.927346,...,1,0,1,0,0,0,0,0,440,98
14383,B,1,162.120000,10,25,7,20,2,46.079600,115.768872,...,0,0,1,0,0,0,0,0,440,98
15225,B,3,113.567500,10,25,7,20,2,55.220358,105.839804,...,1,0,1,0,0,0,0,0,440,98
15912,C,1,156.740000,10,25,7,20,3,51.646256,175.031104,...,0,0,1,0,0,0,0,0,440,98
12329,A,2,60.598750,10,25,7,40,1,39.187071,68.767064,...,0,0,1,0,0,0,0,0,460,98
13857,A,3,155.696250,10,25,7,40,1,71.914336,136.927346,...,1,0,1,0,0,0,0,0,460,98
14384,B,1,99.856667,10,25,7,40,2,46.079600,115.768872,...,0,0,1,0,0,0,0,0,460,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81272,C,1,183.983333,10,31,15,0,3,75.830928,193.640441,...,0,1,0,0,0,0,0,0,900,104
80592,C,3,108.040000,10,31,15,0,3,57.651887,186.714637,...,1,1,0,0,0,0,0,0,900,104
76606,A,2,66.656923,10,31,15,20,1,41.075873,71.065937,...,0,1,0,0,0,0,0,0,920,104
80074,A,3,84.404000,10,31,15,20,1,80.054530,120.888666,...,1,1,0,0,0,0,0,0,920,104
81974,B,1,83.780000,10,31,15,20,2,57.388444,131.715007,...,0,1,0,0,0,0,0,0,920,104
78202,B,3,101.950000,10,31,15,20,2,50.390317,116.060139,...,1,1,0,0,0,0,0,0,920,104
81275,C,1,200.700000,10,31,15,20,3,75.830928,193.640441,...,0,1,0,0,0,0,0,0,920,104
80594,C,3,158.860000,10,31,15,20,3,57.651887,186.714637,...,1,1,0,0,0,0,0,0,920,104
76619,A,2,51.784286,10,31,15,40,1,41.075873,71.065937,...,0,1,0,0,0,0,0,0,940,104
80079,A,3,93.183333,10,31,15,40,1,80.054530,120.888666,...,1,1,0,0,0,0,0,0,940,104
81976,B,1,114.240000,10,31,15,40,2,57.388444,131.715007,...,0,1,0,0,0,0,0,0,940,104
78203,B,3,95.902500,10,31,15,40,2,50.390317,116.060139,...,1,1,0,0,0,0,0,0,940,104
81276,C,1,207.570000,10,31,15,40,3,75.830928,193.640441,...,0,1,0,0,0,0,0,0,940,104
80595,C,3,215.305000,10,31,15,40,3,57.651887,186.714637,...,1,1,0,0,0,0,0,0,940,104
89165,A,2,63.901667,10,31,16,0,1,39.887124,72.503117,...,0,1,0,0,0,0,0,0,960,104
85450,A,3,112.973333,10,31,16,0,1,52.775861,122.122167,...,1,1,0,0,0,0,0,0,960,104
83603,B,3,76.350000,10,31,16,0,2,51.071888,116.412352,...,1,1,0,0,0,0,0,0,960,104
89936,C,1,275.930000,10,31,16,0,3,61.441223,192.944153,...,0,1,0,0,0,0,0,0,960,104
90507,C,3,192.583333,10,31,16,0,3,62.478464,188.750087,...,1,1,0,0,0,0,0,0,960,104
89177,A,2,75.585556,10,31,16,20,1,39.887124,72.503117,...,0,1,0,0,0,0,0,0,980,104
85456,A,3,132.820000,10,31,16,20,1,52.775861,122.122167,...,1,1,0,0,0,0,0,0,980,104
91098,B,1,125.603333,10,31,16,20,2,51.493813,136.239336,...,0,1,0,0,0,0,0,0,980,104
83605,B,3,103.106667,10,31,16,20,2,51.071888,116.412352,...,1,1,0,0,0,0,0,0,980,104
89937,C,1,219.290000,10,31,16,20,3,61.441223,192.944153,...,0,1,0,0,0,0,0,0,980,104
90510,C,3,158.133333,10,31,16,20,3,62.478464,188.750087,...,1,1,0,0,0,0,0,0,980,104
89186,A,2,52.724000,10,31,16,40,1,39.887124,72.503117,...,0,1,0,0,0,0,0,0,1000,104
85460,A,3,129.143750,10,31,16,40,1,52.775861,122.122167,...,1,1,0,0,0,0,0,0,1000,104
83611,B,3,102.750000,10,31,16,40,2,51.071888,116.412352,...,1,1,0,0,0,0,0,0,1000,104
89938,C,1,153.460000,10,31,16,40,3,61.441223,192.944153,...,0,1,0,0,0,0,0,0,1000,104
90513,C,3,177.770000,10,31,16,40,3,62.478464,188.750087,...,1,1,0,0,0,0,0,0,1000,104

In [75]:
listmonth=[]
listdate=[]

In [76]:
tmpval=val_knn[val_knn["date"]==25].copy()
tmpval.index=range(0,len(tmpval))
start_time=datetime(2016,7,19)
bestmonth=0
bestday=0
bestscore=999
while(start_time<datetime(2016,10,25)):
    tmpscore=0
    scorelen=0
    for j in range(0,len(tmpval)):
        tmp=tmpval.iloc[j,:]
        tmptrain=train_knn[(train_knn["month"]==start_time.month)&\
                           (train_knn["date"]==start_time.day)&\
                           (train_knn["intersection_id"]==tmp["intersection_id"])&\
                           (train_knn["tollgate_id"]==tmp["tollgate_id"])&\
                           (train_knn["hour"]==tmp["hour"])&\
                           (train_knn["minute"]==tmp["minute"])]
        if(len(tmptrain)):
            tmpscore=tmpscore*scorelen/(scorelen+1)+abs(tmptrain["travel_time"].values-tmp["travel_time"])/(scorelen+1)
            scorelen=scorelen+1
            
    if(bestscore>tmpscore):
        bestscore=tmpscore
        bestday=tmptrain["date"]
        bestmonth=tmptrain["month"]
    start_time=start_time+timedelta(days=1)
print(bestmonth.values,"-",bestday.values)
listmonth=listmonth+[int(bestmonth.values[0])]
listdate=listdate+[int(bestday.values[0])]

(array([ 10.]), '-', array([ 13.]))

In [77]:
tmpval=val_knn[val_knn["date"]==26].copy()
tmpval.index=range(0,len(tmpval))
start_time=datetime(2016,7,19)
bestmonth=0
bestday=0
bestscore=999
while(start_time<datetime(2016,10,25)):
    tmpscore=0
    scorelen=0
    for j in range(0,len(tmpval)):
        tmp=tmpval.iloc[j,:]
        tmptrain=train_knn[(train_knn["month"]==start_time.month)&\
                           (train_knn["date"]==start_time.day)&\
                           (train_knn["intersection_id"]==tmp["intersection_id"])&\
                           (train_knn["tollgate_id"]==tmp["tollgate_id"])&\
                           (train_knn["hour"]==tmp["hour"])&\
                           (train_knn["minute"]==tmp["minute"])]
        if(len(tmptrain)):
            tmpscore=tmpscore*scorelen/(scorelen+1)+abs(tmptrain["travel_time"].values-tmp["travel_time"])/(scorelen+1)
            scorelen=scorelen+1
            
    if(bestscore>tmpscore):
        bestscore=tmpscore
        bestday=tmptrain["date"]
        bestmonth=tmptrain["month"]
    start_time=start_time+timedelta(days=1)
print(bestmonth.values,"-",bestday.values)
listmonth=listmonth+[int(bestmonth.values[0])]
listdate=listdate+[int(bestday.values[0])]

(array([ 10.]), '-', array([ 13.]))

In [78]:
tmpval=val_knn[val_knn["date"]==27].copy()
tmpval.index=range(0,len(tmpval))
start_time=datetime(2016,7,19)
bestmonth=0
bestday=0
bestscore=999
while(start_time<datetime(2016,10,25)):
    tmpscore=0
    scorelen=0
    for j in range(0,len(tmpval)):
        tmp=tmpval.iloc[j,:]
        tmptrain=train_knn[(train_knn["month"]==start_time.month)&\
                           (train_knn["date"]==start_time.day)&\
                           (train_knn["intersection_id"]==tmp["intersection_id"])&\
                           (train_knn["tollgate_id"]==tmp["tollgate_id"])&\
                           (train_knn["hour"]==tmp["hour"])&\
                           (train_knn["minute"]==tmp["minute"])]
        if(len(tmptrain)):
            tmpscore=tmpscore*scorelen/(scorelen+1)+abs(tmptrain["travel_time"].values-tmp["travel_time"])/(scorelen+1)
            scorelen=scorelen+1
            
    if(bestscore>tmpscore):
        bestscore=tmpscore
        bestday=tmptrain["date"]
        bestmonth=tmptrain["month"]
    start_time=start_time+timedelta(days=1)
print(bestmonth.values,"-",bestday.values)
listmonth=listmonth+[int(bestmonth.values[0])]
listdate=listdate+[int(bestday.values[0])]

(array([ 9.]), '-', array([ 29.]))

In [79]:
tmpval=val_knn[val_knn["date"]==28].copy()
tmpval.index=range(0,len(tmpval))
start_time=datetime(2016,7,19)
bestmonth=0
bestday=0
bestscore=999
while(start_time<datetime(2016,10,25)):
    tmpscore=0
    scorelen=0
    for j in range(0,len(tmpval)):
        tmp=tmpval.iloc[j,:]
        tmptrain=train_knn[(train_knn["month"]==start_time.month)&\
                           (train_knn["date"]==start_time.day)&\
                           (train_knn["intersection_id"]==tmp["intersection_id"])&\
                           (train_knn["tollgate_id"]==tmp["tollgate_id"])&\
                           (train_knn["hour"]==tmp["hour"])&\
                           (train_knn["minute"]==tmp["minute"])]
        if(len(tmptrain)):
            tmpscore=tmpscore*scorelen/(scorelen+1)+abs(tmptrain["travel_time"].values-tmp["travel_time"])/(scorelen+1)
            scorelen=scorelen+1
            
    if(bestscore>tmpscore):
        bestscore=tmpscore
        bestday=tmptrain["date"]
        bestmonth=tmptrain["month"]
    start_time=start_time+timedelta(days=1)
print(bestmonth.values,"-",bestday.values)
listmonth=listmonth+[int(bestmonth.values[0])]
listdate=listdate+[int(bestday.values[0])]

(array([ 9.]), '-', array([ 26.]))

In [80]:
tmpval=val_knn[val_knn["date"]==29].copy()
tmpval.index=range(0,len(tmpval))
start_time=datetime(2016,7,19)
bestmonth=0
bestday=0
bestscore=999
while(start_time<datetime(2016,10,25)):
    tmpscore=0
    scorelen=0
    for j in range(0,len(tmpval)):
        tmp=tmpval.iloc[j,:]
        tmptrain=train_knn[(train_knn["month"]==start_time.month)&\
                           (train_knn["date"]==start_time.day)&\
                           (train_knn["intersection_id"]==tmp["intersection_id"])&\
                           (train_knn["tollgate_id"]==tmp["tollgate_id"])&\
                           (train_knn["hour"]==tmp["hour"])&\
                           (train_knn["minute"]==tmp["minute"])]
        if(len(tmptrain)):
            tmpscore=tmpscore*scorelen/(scorelen+1)+abs(tmptrain["travel_time"].values-tmp["travel_time"])/(scorelen+1)
            scorelen=scorelen+1
            
    if(bestscore>tmpscore):
        bestscore=tmpscore
        bestday=tmptrain["date"]
        bestmonth=tmptrain["month"]
    start_time=start_time+timedelta(days=1)
print(bestmonth.values,"-",bestday.values)
listmonth=listmonth+[int(bestmonth.values[0])]
listdate=listdate+[int(bestday.values[0])]

(array([ 10.]), '-', array([ 2.]))

In [81]:
tmpval=val_knn[val_knn["date"]==30].copy()
tmpval.index=range(0,len(tmpval))
start_time=datetime(2016,7,19)
bestmonth=0
bestday=0
bestscore=999
while(start_time<datetime(2016,10,25)):
    tmpscore=0
    scorelen=0
    for j in range(0,len(tmpval)):
        tmp=tmpval.iloc[j,:]
        tmptrain=train_knn[(train_knn["month"]==start_time.month)&\
                           (train_knn["date"]==start_time.day)&\
                           (train_knn["intersection_id"]==tmp["intersection_id"])&\
                           (train_knn["tollgate_id"]==tmp["tollgate_id"])&\
                           (train_knn["hour"]==tmp["hour"])&\
                           (train_knn["minute"]==tmp["minute"])]
        if(len(tmptrain)):
            tmpscore=tmpscore*scorelen/(scorelen+1)+abs(tmptrain["travel_time"].values-tmp["travel_time"])/(scorelen+1)
            scorelen=scorelen+1
            
    if(bestscore>tmpscore):
        bestscore=tmpscore
        bestday=tmptrain["date"]
        bestmonth=tmptrain["month"]
    start_time=start_time+timedelta(days=1)
print(bestmonth.values,"-",bestday.values)
listmonth=listmonth+[int(bestmonth.values[0])]
listdate=listdate+[int(bestday.values[0])]

(array([ 9.]), '-', array([ 25.]))

In [82]:
tmpval=val_knn[val_knn["date"]==31].copy()
tmpval.index=range(0,len(tmpval))
start_time=datetime(2016,7,19)
bestmonth=0
bestday=0
bestscore=999
while(start_time<datetime(2016,10,25)):
    tmpscore=0
    scorelen=0
    for j in range(0,len(tmpval)):
        tmp=tmpval.iloc[j,:]
        tmptrain=train_knn[(train_knn["month"]==start_time.month)&\
                           (train_knn["date"]==start_time.day)&\
                           (train_knn["intersection_id"]==tmp["intersection_id"])&\
                           (train_knn["tollgate_id"]==tmp["tollgate_id"])&\
                           (train_knn["hour"]==tmp["hour"])&\
                           (train_knn["minute"]==tmp["minute"])]
        if(len(tmptrain)):
            tmpscore=tmpscore*scorelen/(scorelen+1)+abs(tmptrain["travel_time"].values-tmp["travel_time"])/(scorelen+1)
            scorelen=scorelen+1
            
    if(bestscore>tmpscore):
        bestscore=tmpscore
        bestday=tmptrain["date"]
        bestmonth=tmptrain["month"]
    start_time=start_time+timedelta(days=1)
print(bestmonth.values,"-",bestday.values)
listmonth=listmonth+[int(bestmonth.values[0])]
listdate=listdate+[int(bestday.values[0])]

(array([ 10.]), '-', array([ 6.]))

In [83]:
pd.DataFrame({"date":listdate,"month":listmonth}).iloc[:,[1,0]].to_csv("../Other/ValidationDay.csv",index=False)